@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

$backgroundColor: #0e1c4b;
$textColor: #000000;
$textFont: "Permanent Marker", sans-serif;

html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-size: 16px;

  body, body > * {
    color: $textColor;
    font-family: $textFont;
  }
}

.board {
  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -2;
    display: block;
    background: url("../img/background.jpg") no-repeat fixed center;
    width: 100%;
    height: 100%;
    filter: blur(30px);
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
}

header {
  display: block;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

.content {

  max-width: 100rem;
  margin: auto;
  display: flex;
  flex-flow: row wrap;

  .column {
    flex: 1 1 20rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
  }

  .postit {
    display: block;
    padding: 2rem;
    margin: 1rem;
    font-size: 1.6rem;
    vertical-align: middle;
    flex: 1 1 20rem;
    max-width: 16rem;
    height: 11rem;

    &.yellow {
      background-color: #f8ef7a;
    }

    &.blue {
      background-color: #c9d4ff;
    }
  }
}
