@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

$backgroundColor: #0e1c4b;
$textColor: #000000;
$textFont: "Permanent Marker", sans-serif;

html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;

  body, body > * {
    color: $textColor;
    font-family: $textFont;
  }
}

.content {
  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background: url("../img/background.jpg") no-repeat fixed center;
    width: 100%;
    height: 100%;
    filter: blur(30px);
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
}
