@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

$backgroundColor: #0e1c4b;
$textColor: #000000;
$textFont: "Permanent Marker", sans-serif;

html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;

  body, body > * {
    color: $textColor;
    font-family: $textFont;
  }
}

.board {
  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -2;
    display: block;
    background: url("../img/background.jpg") no-repeat fixed center;
    width: 100%;
    height: 100%;
    filter: blur(30px);
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5em;
}

.content {
  column-count: 3 150px;
  column-gap: 4em;

  .column {
    width: 30%;
    min-width: 200px;
    padding: 1%;
    float: left;
    text-align: center;
  }

  .postit {
    margin: auto;
    display: block;
    padding: 2em 0;
    margin: 1em 0;
    font-size: 1.5em;

    &.yellow {
      background-color: #f8ef7a;
    }

    &.blue {
      background-color: #c9d4ff;
    }
  }
}
