<!doctype html>
<html ng-app="app" lang="en">
  <head>
    <title>My Life On A Scrum Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="My professional achievements categorized as Done, In Progress or To Do! By Jérôme Brunel" />

    <meta property="og:url" content="http://mylifeonascrumboard.com" />
    <meta property="og:title" content="My Life On A Scrum Board" />
    <meta property="og:description" content="My professional achievements categorized as Done, In Progress or To Do! By Jérôme Brunel" />
    <meta property="og:site_name" content="My Life As A Scrum Board" />
    <meta property="og:image" content="http://mylifeonascrumboard.com/img/social.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="850" />
    <meta property="og:image:height" content="550" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@_JeromeB" />
    <meta name="twitter:creator" content="@_JeromeB" />
    <meta name="twitter:title" content="My Life On A Scrum Board">
    <meta name="twitter:description" content="My professional achievements categorized as Done, In Progress or To Do! By Jérôme Brunel">
    <meta name="twitter:image" content="http://mylifeonascrumboard.com/img/social.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- inject:css -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <!-- Piwik -->
    <script type="text/javascript">
      setTimeout(() => {
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//analytics.mylifeonascrumboard.com/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 1]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      }, 10);
    </script>
    <noscript><p><img src="//analytics.mylifeonascrumboard.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>
  <body>
    <a href="https://github.com/jbrunel/jbrunel"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    <background></background>
    <main>
      <h1>Jérôme Brunel</h1>
      <section class="links">
        <a href="https://www.linkedin.com/in/jbrunel" title="Connect With Me on LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://github.com/jbrunel" title="Follow Me on Github" target="_blank"><i class="fa fa-github-square"></i></a>
        <a href="http://stackexchange.com/users/2812021/j%C3%A9r%C3%B4me-brunel?tab=accounts" title="Check Out My StackExchange Profile" target="_blank"><i class="fa fa-stack-exchange"></i></a>
        <a href="https://twitter.com/_JeromeB" title="Follow Me on Twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
      </section>
      <section class="board">
        <div class="column" ng-controller="ToDoController">
          <header>To Do</header>
          <postit ng-repeat="task in ::tasks" task="task" />
        </div>
        <div class="column" ng-controller="InProgressController">
          <header>In Progress</header>
          <postit ng-repeat="task in ::tasks" task="task" />
        </div>
        <div class="column" ng-controller="DoneController">
          <header>Done</header>
          <postit ng-repeat="task in ::tasks" task="task" />
        </div>
      </section>
    </main>
  </body>
</html>
