<div class="ngdialog-message">
  <h2>Hello!</h2>
  <h4>Thanks for assigning me with this new task. Let's get started!</h4>
  <p>I develop websites at TrackInsight using VueJS, NodeJS and Docker. I develop my personal projects at home using AngularJS and NodeJS.</p>
  <h4>I got what you need? Then get in touch!</h4>
</div>
<div class="ngdialog-buttons">
  <a href="https://www.linkedin.com/in/jbrunel" type="button" class="ngdialog-button ngdialog-button-primary">Contact me via LinkedIn</a>
</div>
